<div>
  <div class="container">
    <img class="header" src="./../../assets/header.jpg" />
    <div class="overlay"> <h1>Vi är er mottagningskomitté!</h1><p>
      Vi är tio studenter från tekniska högskolan här på Campus Norrköping, och ett glatt gäng faddrar.
      Med mottagningskommitténs planering och hjälp från faddrarna vill vi se till
      att du får en så bra start på studentlivet som möjligt och tillsammans kommer
      vi att vägleda dig genom din första vecka av studier och roliga aktiviteter.
      Nollan, glöm inte att vi alla har varit Nollan en gång i tiden och vet hur det
      känns.</p></div>
  </div>

  <div style="text-align: center; padding:5%">
    <h1>Välkommen till Campus Nollan!</h1>
    <p>
      På denna sida hittar Nollan information om vad som händer under första
      veckan på Linköpings Universitet, den så kallade ”Nolle-veckan”.
      Nolle-veckan består av både undervisning och roliga aktiviteter där alla
      Basårsnollan får chans att lära känna varandra. Aktiviteterna är såklart
      frivilliga, men vi hoppas att du vill vara med på så mycket som möjligt,
      Nollan! Viktigt att veta är att Linköpings Universitet tar kraftigt
      avstånd från förnedrande och kränkande nollningar som Nollan kanske hört
      talas om. Syftet med denna vecka är att ge Nollan en rolig start på
      basåret och en introduktion till livet som universitetsstudent! Vi som
      kommer att ta hand om dig under denna roliga period är en frisk blandning
      av studenter från olika tekniska utbildningar här på Campus Norrköping.
      För att se till så att du får en så bra start på studentlivet som möjligt
      kommer vi faddrar att vägleda dig genom din första vecka av studier och
      roliga aktiviteter. Det ska bli kul att ses!
    </p>
  </div>

  <mat-grid-list #grid [cols]="cols" gutterSize="10px">
    <mat-grid-tile rowspan="1">
      <mat-card class="dashboard-card clickable" @enterLeave
        (click)="navigate()"
        style="background-color: rgb(213, 137, 54)"
      >
        <img mat-card-image src="./../../assets/header.jpg" />
        <mat-card-content class="dashboard-card-content">
          <div><h1>Aktivitetsschema</h1>
          <p>Här är schemat för alla aktiviteter utanför skoltid under nolle-p!</p></div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
      <mat-card
        class="dashboard-card clickable" @enterLeave
        (click)="navigate()"
        style="background-color: rgb(4, 138, 129)"
      >
        <img mat-card-image src="./../../assets/header.jpg" />
        <mat-card-content class="dashboard-card-content">
          <div><h1>Klasschemat</h1>
            <p>Här kommer ni vidare till schemat för er klass!</p></div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan="1">
      <mat-card
        class="dashboard-card clickable" @enterLeave
        (click)="navigate()"
        style="background-color: rgb(193, 73, 83)"
      >
        <img mat-card-image src="./../../assets/header.jpg" />
        <mat-card-content class="dashboard-card-content">
          <div><h1>Nolleboken</h1>
            <p>Här är en digital version av nolleboken!</p></div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <mat-grid-list #grid [cols]="cols" rowHeight="20:11" gutterSize="10px">
    <mat-card
      class="dashboard-card" @enterLeave
      style="background-color: rgb(106, 142, 174)"
    >
      <mat-card-content class="dashboard-card-content">
        <div><h1>Klassföreståndare</h1></div>
        <mat-grid-tile colspan="{{ colspan }}" rowspan="{{ rowspan }}">
          <figure>
            <img
              mat-card-image
              class="round_image"
              src="./../../assets/GustavKLF.jpg"
            />
            <figcaption>
              <ul style="list-style-type:none;">
              <li>Namn: Johan Landqvist</li>
              <li>Telefonnr: 0732684813 </li>
               <li> Mejl: johla578@student.liu.se</li>
             </ul>

            </figcaption>
          </figure>
        </mat-grid-tile>
        <mat-grid-tile colspan="{{ colspan }}" rowspan="{{ rowspan }}">
          <figure>
            <img
              mat-card-image
              class="round_image"
              src="./../../assets/JohanKLF.jpg"
            />
            <figcaption>
              <ul style="list-style-type:none;">
                <li>Namn: Johan Landqvist</li>
                <li>Telefonnr: 0732684813 </li>
                 <li> Mejl: johla578@student.liu.se</li>
               </ul>
            </figcaption>
          </figure>
        </mat-grid-tile>
        <mat-grid-tile colspan="{{ colspan }}" rowspan="{{ rowspan }}">
          <figure>
            <img
              mat-card-image
              class="round_image"
              src="./../../assets/ThomasKLF.jpg"
            />
            <figcaption>
              <ul style="list-style-type:none;">
                <li>Namn: Johan Landqvist</li>
                <li>Telefonnr: 0732684813 </li>
                 <li> Mejl: johla578@student.liu.se</li>
               </ul>            </figcaption>
          </figure>
        </mat-grid-tile>
      </mat-card-content>
    </mat-card>
  </mat-grid-list>

  <mat-grid-list #grid [cols]="cols" rowHeight="20:11" gutterSize="10px">
    <mat-card
      class="dashboard-card" @enterLeave
      style="background-color: rgb(106, 142, 174)"
    >
      <mat-card-content class="dashboard-card-content">
        <div><h1>Huvudklassfaddrar</h1></div>
        <mat-grid-tile colspan="{{ colspan }}" rowspan="{{ rowspan }}">
          <figure>
            <img
              mat-card-image
              class="round_image"
              src="./../../assets/hk1.jpg"
            />
            <figcaption>
              <ul style="list-style-type:none;">
                <li>Namn: Johan Landqvist</li>
                <li>Telefonnr: 0732684813 </li>
                 <li> Mejl: johla578@student.liu.se</li>
               </ul>            </figcaption>
          </figure>
        </mat-grid-tile>
        <mat-grid-tile colspan="{{ colspan }}" rowspan="{{ rowspan }}">
          <figure>
            <img
              mat-card-image
              class="round_image"
              src="./../../assets/hk2.jpg"
            />
            <figcaption>
              <ul style="list-style-type:none;">
                <li>Namn: Johan Landqvist</li>
                <li>Telefonnr: 0732684813 </li>
                 <li> Mejl: johla578@student.liu.se</li>
               </ul>            </figcaption>
          </figure>
        </mat-grid-tile>
        <mat-grid-tile colspan="{{ colspan }}" rowspan="{{ rowspan }}">
          <figure>
            <img
              mat-card-image
              class="round_image"
              src="./../../assets/hk3.jpg"
            />
            <figcaption>
              <ul style="list-style-type:none;">
                <li>Namn: Johan Landqvist</li>
                <li>Telefonnr: 0732684813 </li>
                 <li> Mejl: johla578@student.liu.se</li>
               </ul>            </figcaption>
          </figure>
        </mat-grid-tile>
      </mat-card-content>
    </mat-card>
  </mat-grid-list>
</div>
