<div>
      <img mat-card-image src="./../../assets/header.jpg">
        <div>Välkommen till Campus Nollan!</div>

  <mat-grid-list  #grid [cols]="cols" rowHeight="20:11" gutterSize="10px">
    
    <mat-grid-tile rowspan ="2">
      <mat-card class="dashboard-card">
        <img mat-card-image src="./../../assets/header.jpg">
        <mat-card-content >
          <div>Aktivitetsschema</div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan ="2">
      <mat-card class="dashboard-card">
        <img mat-card-image src="./../../assets/header.jpg">
        <mat-card-content class="dashboard-card-content">
          <div>Klassschema</div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile rowspan ="2">
      <mat-card class="dashboard-card">
        <img mat-card-image src="./../../assets/header.jpg">
        <mat-card-content class="dashboard-card-content">
          <div>Nolleboken</div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

    <mat-grid-list  #grid [cols]="cols" rowHeight="20:11" gutterSize="10px">
    <mat-grid-tile  colspan="3" rowspan ="2">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div>Klassföreståndare</div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="3" rowspan ="2">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <div>Huvudklassfaddrar</div>
        </mat-card-content>
        <mat-card-footer></mat-card-footer>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
