.schema {
  padding-top: 10%;
  text-align: center;
}

.måndag {
  background-color: rgb(213, 137, 54);
}

.buttons {
  border-radius: 25px;
  margin-right:20px;
}

.buttonContainer{
  padding: 20px;
  display: flex;
  justify-content: center;
}
