.schema {
  padding-top: 80px;
  text-align: center;
}

.måndag {
  background-color:rgb(211, 145, 75);
}
.helg{
  background-color:rgb(4, 138, 129);
}
.helg2{
  background-color:rgb(4, 138, 129);
}

.buttons {
  border-radius: 25px;
  margin-right:20px;
  background-color: rgba(193, 73, 83, 0.8);
}

.buttonContainer{
  padding: 20px;
  display: flex;
  justify-content: center;
}

.expandable{
  background-color:rgb(213, 137, 54);
}

