<div class="schema"><h1>SCHEMA</h1>
<p>Här hittar nollan schemat för Nolle-P! Det kan vara bra att hålla ett öga på <br>denna 
  sida samt lyssna på uppdateringar från huvudklassfaddrarna då schemat kan ändras. </p>
   <p><img src="assets/tree.svg" style="width:5%;"> = Utomhusaktivitet, ha kläder efter väder</p>
   <p><img src="assets/beer.svg" style="width:5%;"> = aktivitet med alkoholförsäljning.</p>
  </div>
<div class="buttonContainer">
  <button mat-raised-button class="buttons" (click)="openAllPanels()">
    <p>Se hela schemat</p>
  </button>
  &nbsp;
  <button mat-raised-button class="buttons" (click)="closeAllPanels()">
    <p>Stäng schemat</p>
  </button>
</div>

<mat-accordion [multi]="true" #accordion="matAccordion">
  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="expandable">
      <h2>Fredag 27/8</h2>
    </mat-expansion-panel-header>
    <b>10.00 Upprop </b><p>
      För att behålla sin plats på programmet
      är det obligatoriskt att gå på uppropet,
      mycket viktigt Nollan! Plats och
      format meddelas i separat utskick av
      universitetet.</p>
      <b>12.15 - 13.00 Lunch</b>
      <p>Första dagen bjuds det på gratis lunch, mums!</p>
      <b>13.15 - 15.00 Klassföreståndare-pass</b>
      <p> Klassföreståndarna håller ett pass där ni kan bekanta er med dem samt få svar på alla funderingen som finns, bra va?</p>
      <b> Campusrundvandring</b>
      <p> Vi tar tillsammans en sväng på campus och bekantar oss lite med området. Ställ frågor om du har några!</p>
      <b>18.00 - 20.00 Lekar i Folkparken <img src="assets/tree.svg" style="width:5%;"></b>
      <p>Samling mellan husen för att sedan gå vidare till Folkparken där vi gör något skoj!</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="helg2" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="helg">
      <h2>Lördag 28/8</h2>
    </mat-expansion-panel-header>
    <b> 13.00 - 15.00 Stadsvandring <img src="assets/tree.svg" style="width:5%;"></b>
    <p>Lär känna Norrköping genom en roligare variant på stadsvandring! Samling mellan husen. </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="helg2" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="helg">
      <h2>Söndag 29/8</h2>
    </mat-expansion-panel-header>
    <b>15.00 - 16.00 Pizza-picknick <img src="assets/tree.svg" style="width:5%;"></b>
    <p>Vi käkar lite god pizza ihop, självklart bjuder faddrarna! Samling mellan husen.</p>
    <b>16.00 - 18.30 Filmkväll med Stubinen </b>
    <p>Söndagsmyset avslutas med en filmkväll med studenternas filmförening Stubinen. </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="expandable">
      <h2>Måndag 30/8</h2>
    </mat-expansion-panel-header>
    <b>12.15 Matlådans dag <img src="assets/tree.svg" style="width:5%;"></b>
    <p>Samling mellan husen med en
      matlåda redo för en gemensam lunch, gott!</p>
      <b>17.30 Picknick och brännboll <img src="assets/tree.svg" style="width:5%;"></b>
      <p>Vi samlas mellan husen för att tillsammans gå och spela lite brännboll och äta ihop. 
        Här är det bra om nollan tar med mat som kan ätas kall.</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="expandable">
      <h2>Tisdag 31/8</h2>
    </mat-expansion-panel-header>
    <b>10.00 Morgongympa</b>
    <p>Det är alltid viktigt med
      uppvärmning, Nollan! Vi ses mellan
      husen.</p>
    <b>18.00 - 22.00 Pub & Spelkväll med sektionerna <img src="assets/beer.svg" style="width:5%;"></b>
    <p>Vi passar på att träffa sektionerna på en pub & spelkväll där 
      vi får höra om de olika programmen!</p>
    <b>18.00 - 22.00 Grillkväll på DK:s innergård <img src="assets/tree.svg" style="width:5%;"></b>
    <p>Ta med era
      favoritgodsaker att lägga på grillen för ikväll är det grillning på schemat!
      Vi samlas som vanligt mellan husen.</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="expandable">
      <h2>Onsdag 1/9</h2>
    </mat-expansion-panel-header>
    <b>17.30 - 20.00 Pluggkväll </b>
    <p>På onsdagen tar vi ifatt med plugget och såklart finns vi faddrar med för
      att hjälpa till! </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="expandable">
      <h2>Torsdag 2/9</h2>
    </mat-expansion-panel-header>
    <b>18.00 - 22.00 Pub & Spelkväll med sektionerna <img src="assets/beer.svg" style="width:5%;"></b>
    <p>Vi passar på att träffa sektionerna på en pub & spelkväll där 
      vi får höra om de olika programmen!</p>
    <b>18.00 - 22.00 Grillkväll på DK:s innergård <img src="assets/tree.svg" style="width:5%;"></b>
    <p> Ta med era
      favoritgodsaker att lägga på grillen för ikväll är det grillning på schemat!
      Vi samlas som vanligt mellan husen.</p> 
</mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="expandable">
      <h2>Fredag 3/9</h2>
    </mat-expansion-panel-header>
    <b>10.00 Morgongympa</b>
    <p>Nollan, det är ytterst viktigt att hålla sig uppvärmd när man pluggar, vi kör igen! Vi ses mellan husen.</p>
    <b>18.00 Quizkväll </b>
    <p>Ikväll ses vi på en vänskaplig tävling, spännande!</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="helg2" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="helg">
      <h2>Lördag 4/9</h2>
    </mat-expansion-panel-header>
    <b>18.30 - 22.30 Finsittning <img src="assets/beer.svg" style="width:5%;"></b>
    <p>I våra allra finaste kläder är det dags
      för finsittning på Trappan. Kort och
      gott: mat, underhållning och trevligt
      sällskap!</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="helg2" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header class="helg">
      <h2>Söndag 5/9</h2>
    </mat-expansion-panel-header>
    <b>14.00 Ettans dag</b>
    <p>Nollan har blivit Ettan! Det ska
      såklart firas med fika och trevligt
      häng!</p>
  </mat-expansion-panel>
</mat-accordion>

