<div class="schema"><h1>SCHEMA</h1></div>
<div class="buttonContainer">
  <button mat-flat-button class="buttons" (click)="openAllPanels()">
    <p>Se hela schemat</p>
  </button>
  &nbsp;
  <button mat-flat-button class="buttons" (click)="closeAllPanels()">
    <p>Stäng schemat</p>
  </button>
</div>

<mat-accordion [multi]="true" #accordion="matAccordion">
  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Fredag 27/8</h2>
    </mat-expansion-panel-header>
    <b>10.00 Upprop</b><p>
      För att behålla sin plats på programmet
      är det obligatoriskt att gå på uppropet,
      mycket viktigt Nollan! Plats och
      format meddelas i separat utskick av
      universitetet.</p>
      <b>12.15 - 13.00 Lunch</b>
      <p>Första dagen bjuds det på gratis lunch, mums!</p>
      <b>13.15 - 15.00 Klassföreståndare-pass</b>
      <p></p>
      <b>? Campusrundvandring</b>
      <p></p>
      <b>18.00 - 20.00 Lekar i Folkparken</b>
      <p>Samling mellan husen för att sedan gå och leka roliga lekar tillsammans i Folkparken</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Lördag 28/8</h2>
    </mat-expansion-panel-header>
    <b> 13.00 - 15.00 Stadsvandring</b>
    <p>Lär känna Norrköping genom en roligare variant på stadsvandring! Samling mellan husen. </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Söndag 29/8</h2>
    </mat-expansion-panel-header>
    <b>15.00 - 16.00 Pizza-picknick</b>
    <p>Vi käkar lite god pizza ihop, självklart bjuder faddrarna! Samling mellan husen.</p>
    <b>16.00 - 18.30 Filmkväll med Stubinen</b>
    <p>Söndagsmyset avslutas med en filmkväll med studenternas filmförening Stubinen. </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Måndag 31/8</h2>
    </mat-expansion-panel-header>
    <b>12.15 Matlådans dag</b>
    <p>Samling mellan husen med en
      matlåda redo för gemensam lunch.</p>
      <b>17.30 Picknick och brännboll</b>
      <p>Vi samlas mellan husen för att tillsammans gå och spela lite brännboll. </p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Tisdag 1/9</h2>
    </mat-expansion-panel-header>
    <p>Description</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Onsdag 2/9</h2>
    </mat-expansion-panel-header>
    <p>Description</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Torsdag 3/9</h2>
    </mat-expansion-panel-header>
    <p>Description</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Fredag 4/9</h2>
    </mat-expansion-panel-header>
    <p>Description</p>
  </mat-expansion-panel>

  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Lördag 5/9</h2>
    </mat-expansion-panel-header>
    <p>Description</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="måndag" #mapanel="matExpansionPanel">
    <mat-expansion-panel-header>
      <h2>Söndag 6/9</h2>
    </mat-expansion-panel-header>
    <p>Description</p>
  </mat-expansion-panel>
</mat-accordion>
