<div class="top-padding"><h1>SCHEMA</h1></div>
<div class="example-action-buttons">
    <button mat-flat-button color="primary" (click)="openAllPanels()"><p>Se hela schemat</p></button> &nbsp;
    <button mat-flat-button color="primary" (click)="closeAllPanels()"><p>Stäng schemat</p></button>
    
    <mat-accordion [multi]="true"
    #accordion="matAccordion"
    >
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>beskrivning</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      <mat-expansion-panel 
      #mapanel="matExpansionPanel"
      >
        <mat-expansion-panel-header>
            <h2>Måndag 28/8</h2>
        </mat-expansion-panel-header>
        <p>Description</p>
        <mat-action-row>
            <button mat-flat-button (click)="mapanel.close()">Click to close</button>
        </mat-action-row>
      </mat-expansion-panel>
      
    </mat-accordion>
  